<!-- sidebar start -->
<aside class="sidebar">
  <!-- Removed sticky mode for the content to flow from top to bottom -->
  <div class="container">
    <div class="sidebar-about">
      <a href="https://www.grandlyon.com/">
        <img src="{{ .Site.BaseURL }}/logo_gl_blanc.png" alt="">
      </a>
      <a href="https://www.universite-lyon.fr/">
        <img src="https://www.universite-lyon.fr/uas/ksup/LOGO2/logoUdlBlanc.svg" alt="">
      </a>
	  {{ if eq .Site.Language.LanguageName "Français" }}
		<a href="{{ .Site.BaseURL }}fr/"><h1>{{ .Site.Title }}</h1></a>
	  {{else}}
	    <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
	  {{end}}
  </div>
  
  <nav>
  <ul class="sidebar-nav">
    {{ $currentPage := . }}
	
		{{ if eq .Site.Language.LanguageName "Français" }}
			{{ range .Site.Menus.mainfr }}
			  {{ if .HasChildren }}
				  <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
					  {{ partial "menu-url-wrapper.html" . }}
				  </li>
				  <ul class="sub-menu">
					  {{ range .Children }}
						  <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">{{ partial "menu-url-wrapper.html" . }}</li>
					  {{ end }}
				  </ul>
			  {{ else }}
				  <li>{{ partial "menu-url-wrapper.html" . }}</li>
			  {{ end }}
			{{ end }}
			
		{{else}}
			{{ range .Site.Menus.main }}
			  {{ if .HasChildren }}
				  <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
					  {{ partial "menu-url-wrapper.html" . }}
				  </li>
				  <ul class="sub-menu">
					  {{ range .Children }}
						  <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">{{ partial "menu-url-wrapper.html" . }}</li>
					  {{ end }}
				  </ul>
			  {{ else }}
				  <li>{{ partial "menu-url-wrapper.html" . }}</li>
			  {{ end }}
			{{ end }}
		{{end}}
    </br>
	<div style ='position:absolute;bottom:0;'>
    {{ partial "i18n.html" . }}
	</div>
  </ul>
  </nav>
  
</aside>
